.titleContainer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #1a237e;
}

.evolMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.evolInnerContainer {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  background-color: #9fa8da;
  margin-bottom: 24px;
  border-radius: 24px;
  padding: 24px;
  gap: 24px;
}
