.container {
  width: 98%;
  /* border:1px solid black; */
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction:row; */
  justify-content: center;
  place-items: center;
  padding: 20px;
  gap: 16px;
  overflow: hidden;
}
