.mainContainer {
  display: flex;
  justify-content: center;
}

.innerContainer {
  display: flex;
  width: 70%;
  justify-content: center;
  height: auto;
  background-color: #9fa8da;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 24px;
  padding: 16px;
}
