.tagsStyles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.tagStyles {
  display: inline-block;
  padding: 4px 8px;
  font-size: 19px;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 20px;
}
